@Html.Partial("~/Views/Beneficiario/FormsBeneficiario.cshtml")

<table class="table">
    <thead>
        <tr>
            <th scope="col">CPF</th>
            <th scope="col">Nome</th>
            <th scope="col">Ações</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Beneficiarios)
        {
            <tr>
                <td>@item.CPF</td>
                <td>@item.Nome</td>
                <td>
                    @*<button type="button" class="btn btn-sm btn-primary alterar-btn" data-id="@item.Id">
                        Alterar
                    </button>*@
                    <button type="button" id="ExcluirBeneficiario" class="btn btn-sm btn-danger excluir-btn" data-id="@item.Id">
                        Excluir
                    </button>
                </td>
            </tr>
        }
    </tbody>
</table>